<audio src="/audio/midi.mp3" preload="auto" autoplay="autoplay"></audio>

<!-- song list and suggest songs form -->
<div class="row">
    <div class="col-md-12">
        <img src="images/spotifyifyly.gif" class="link" alt="Spotifyifyly." width="419" height="67">
    </div>

    <h1><marquee>This Week's Songs</marquee></h1>
    <form action="/suggest_song" method="POST">
      <div class="box">
        <input type="text" name="suggested_song" placeholder="Suggest a song">
      </div>
      <br>
      <div class="box">
        <button>Submit song</button>
      </div>
    </form>

    <br>

    <div class="Songs">
        <% Playlist.find_by_name("top_playlist").songs.each do |song| %>
        <li>
            <strong><%= song.title %></strong> by <%= song.artist %>, suggested by <%= song.suggested_by.name.capitalize %><br>
            <%= song.genre %><a href="song.spotify_preview_url"> Preview on Spotify</a>
            <form action="/veto" method="POST">
                <input type="hidden" name="song_id" value="<%= song.id %>">
                <button>Veto</button>
            </form>
        </li>
        <br>
        <% end %>
    </div>

    <div class="Songs">
        <% Playlist.all.each do |playlist| %>
            <% next if playlist.name == "top_playlist" %>
            <h2 class="playlist-title"><%= playlist.name %></h2>
            <% playlist.songs.each do |song| %>
              <li>
                  <strong><%= song.title %></strong> by <%= song.artist %>, suggested by <%= song.suggested_by.name.capitalize %><br>
                  <%= song.genre %><a href="song.spotify_preview_url"> Preview on Spotify</a>
                  <form action="/vote" method="POST">
                      <input type="hidden" name="song_id" value="<%= song.id %>">
                      <button><img src="/images/vote.gif"></button>
                  </form>
              </li>
              <br>
            <% end %>
        <% end %>
    </div>
      
</div>
