<!DOCTYPE html>
<html>
    <head>
        <title>Spotifyifyly</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="app.css">
        <!-- set the character encoding for the page -->
        <meta charset="utf-8">
        <!-- set viewport for responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
      <audio src="/audio/midi.mp3" preload="auto" autoplay="autoplay"></audio>
      <div class="container-fluid">

        <!-- this holds the header -->
        <header class="index-header">
            <div class="col-md-12">
     <!-- Navbar added from w3c bootstrap tutorial -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Spotifyifyly</a>
                </div>

            <!-- Makes navbar collabsible, from w3c tutorial -->
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/playlists">Playlists</a></li>
                <li><a href="/about">About</a></li>
                <% if current_user %>
                  <li><a href="/profile"><%= current_user.name %></a></li>
                  <li>
                    <form action="/logout" method="POST">
                      <button>Logout</button>
                    </form>
                  </li>
                <% else %>
                  <div class="login-menu">
                   <form action="/handle_login" method="post">
                     <fieldset class='textbox' style="padding:10px">
                       <input style="margin-top: 8px" name="email" type="text" placeholder="Username" />
                       <input style="margin-top: 8px" name="password" type="password" placeholder="Passsword" />
                       <input class="btn-primary" name="commit" type="submit" value="Log In" />
                     </fieldset>
                   </form>
                <% end %>
            </ul>
            </div>
            </div>
            </nav>
            </div>
        </header>

        <!-- song list and suggest songs form -->
        <div class="row">
            <div class="col-md-12">
                <img src="images/spotifyifyly.gif" class="link" alt="Spotifyifyly." width="419" height="67">
            </div>

            <% if m = read_and_reset_message %>
              <!-- <marquee class="flash">
                <%= m %>
              </marquee> -->
              <script type="text/javascript">
                alert("<%= m %>")
              </script>
            <% end %>

            <h1><marquee>This Week's Songs</marquee></h1>
            <form action="/suggest_song" method="POST">
              <div class="box">
                <input type="text" name="suggested_song" placeholder="Suggest a song">
              </div>
              <br>
              <div class="box">
                <button>Submit song</button>
              </div>
            </form>

            <br>

            <div class="Songs">
                <% Song.all.each do |song| %>
            <li>
                <strong><%= song.title %></strong> by <%= song.artist %>, suggested by <%= song.suggested_by.name.capitalize %><br>
                <%= song.genre %><a href="song.spotify_preview_url"> Preview on Spotify</a>
                <form action="/vote" method="POST">
                    <input type="hidden" name="song_id" value="<%= song.id %>">
                    <button><img src="/images/vote.gif"></button>
                </form>
                <form action="/veto" method="POST">
                    <input type="hidden" name="song_id" value="<%= song.id %>">
                    <button>Veto</button>
                </form>
            </li>
            <br>
            <% end %>
            </div>
        </div>

        <!-- Contact section-->
        <section class="row">
            <div class="col-12">
                <h3 class="footer-title">Contact Us</h3>
                <p class="contact">email: <a href="mailto:info@spotifyifyly.com">info@spotifyifyly.com</a></p>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
