<h1 class="account">Account Overview</h1>

<div class="col-md-12">
<div class="profile">
    <h3 class="text-primary">Profile</h3>
        <%= gravatar_tag current_user.email, size: 250 %>
    <form role="form">
      <div class="form-group">
        <label class="control-label">Email</label>
        <p class="form-control-static"><%= "#{current_user.email}" %></p>
        <label class="control-label">Name</label>
        <p class="form-control-static"><%= "#{current_user.name}" %></p>
        <% if admin_user %>
            <button><a href="/invite">
                Invite New User
            </a></button>
        <% end %>

      </div>
  </div>
  <div class="col-md-12">
      <h2 class=songs>User Songs</h2>
      <ul>
        <% @user_songs.each do |song| %>
          <li>
              <strong><%= song.artist %></strong>: <%= song.title %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
